@value primary_color from '../variables.css';
@value secondary_color_faded from '../variables.css';
@value primary_color_faded from '../variables.css';
@value title_font_size from '../variables.css';
@value subtitle_font_size from '../variables.css';
@value content_font_size from '../variables.css';

#home {
    color: black;
    margin-top: 4rem;
    text-align: center;
    height: 100vh;
}

#home img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

#home-content {
    box-sizing: border-box;
    color: white;
    background: secondary_color_faded;
    border-radius: 5%;
    margin: 3rem auto;
    max-width: 95%;
    padding: 1rem;
    width: 40rem;
}

#home h2 {
    margin-top: 1rem;
    font-size: 3rem;
}

#home h3 {
    margin-top: 1rem;
    font-size: 2rem;
}

#home h4 {
    font-size: 1.25rem;
}

#home p {
    font-size: content_font_size;
}

.ags-button {
    font-size: 1.75rem;
    cursor: pointer;
}

@media screen and (max-width: 450px) #home {
    padding: 1rem !important;
}

@media screen and (max-width: 450px) #home h3 {
    font-size: @title-font-size * .75 !important;
}

@media screen and (max-width: 450px) #home h4 {
    font-size: @subtitle-font-size * .75 !important;
}
