@value primary_color from '../variables.css';
@value secondary_color from '../variables.css';
@value content_font_size from '../variables.css';

#navbar {
    align-items: center;
    background: secondary_color;
    color: white;
    display: flex;
    font-family: 'Jura';
    height: 3.5rem;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 20;
}

#navbar span {
    font-size: content_font_size;
}

#navbar ul li {
    display: inline-block;
    cursor: pointer;
}

#navbar ul li:hover {
    color: primary_color;
}
